.chat-main
  .chat-main__group-info
    .chat-main__left-box
      .left-box__current-group
        =@group.name
      .left-box__member-list
        Member:
        = @group.users.pluck(:name).join(',')
    .chat-main__edit-btn
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit
  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .chat-main__message-form__left-box
        = f.text_field :content, class: 'left-box__input-message', placeholder: ' type a message'
        .left-box__icon-image
          = f.label :image, class: 'left-box__icon-image' do
            = icon('fas', 'image', class: 'left-box__icon-image')
            = f.file_field :image, class: 'left-box__icon-file'
      = f.submit 'Send', class: 'chat-main__message-form__send-box'
